In [1]:
#install dependencies
import matplotlib.pyplot as plt 
import pandas as pd 
import scipy.stats as st

In [2]:
#import data files
mouse_metadata_path = "Resources/Mouse_metadata.csv"
study_results_path = "Resources/Study_results.csv"

In [3]:
#read data files 
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [45]:
# Combine the data into a single dataset
combined_data = pd.merge(mouse_metadata, study_results, on = "Mouse ID")
# Display the data table for preview
combined_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [51]:
 # Checking the number of mice.
mouse_count = len(combined_data["Mouse ID"].value_counts())
mouse_count

249

In [54]:
 # Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
dup_mice = combined_data.loc[combined_data.duplicated(subset = ['Mouse ID', 'Timepoint']), 'Mouse ID'].unique()
dup_mice

array(['g989'], dtype=object)

In [7]:
 # Optional: Get all the data for the duplicate mouse ID.

In [75]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
study_df = combined_data[combined_data['Mouse ID'].isin(dup_mice)==False]
study_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [67]:
# Checking the number of mice in the clean DataFrame.
study_mice = study_df["Mouse ID"].value_counts()
print(len(study_mice))

248

In [86]:
 # Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

statistics_summary = pd.DataFrame(combined_data.groupby("Drug Regimen").count())

statistics_summary["Mean"] = pd.DataFrame(combined_data.groupby("Drug Regimen")["Tumor Volume (mm3)"].mean())
statistics_summary["Median"] = pd.DataFrame(combined_data.groupby("Drug Regimen")["Tumor Volume (mm3)"].median())
statistics_summary["Standard Deviation"] = pd.DataFrame(combined_data.groupby("Drug Regimen")["Tumor Volume (mm3)"].std())
statistics_summary["Variance"] = pd.DataFrame(combined_data.groupby("Drug Regimen")["Tumor Volume (mm3)"].var())
statistics_summary["SEM"] = pd.DataFrame(combined_data.groupby("Drug Regimen")["Tumor Volume (mm3)"].sem())


statistics_summary.head()

,Mouse ID,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites,Mean,Median,Standard Deviation,Variance,SEM
Drug Regimen,,,,,,,,,,,,
Capomulin,230,230,230,230,230,230,230,40.675741,41.557809,4.994774,24.947764,0.329346
Ceftamin,178,178,178,178,178,178,178,52.591172,51.776157,6.268188,39.290177,0.469821
Infubinol,178,178,178,178,178,178,178,52.884795,51.820584,6.567243,43.128684,0.492236
Ketapril,188,188,188,188,188,188,188,55.235638,53.698743,8.279709,68.553577,0.603860
Naftisol,186,186,186,186,186,186,186,54.331565,52.509285,8.134708,66.173479,0.596466

In [11]:
 # Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

In [12]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [13]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using using pyplot.

In [14]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [15]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

In [16]:
#Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse

# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [17]:
# Put treatments into a list for for loop (and later for plot labels)

# Create empty list to fill with tumor vol data (for plotting)

# Calculate the IQR and quantitatively determine if there are any potential outliers. 
    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    # add subset 
    
    # Determine outliers using upper and lower bounds

In [18]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

In [19]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [20]:
 # Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

In [21]:
 # Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen